@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

html {
    font-size: 1rem;
    font-family: cursive;
    background-color: lightgrey;
    border: 2em double black;
    width: 100vw;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Great Vibes',monotype corsiva, cursive;
    font-size: 6rem;
    padding: 0.625em;
}

nav {
    display: flex;
    justify-content:center;
}

nav a {
    text-decoration: none;
    padding: 0.625em 1.25em;
    border: 0.16em solid black;
    color: palevioletred;
    font-size: 1.5em;
    font-family: cursive;
    transition: .5s;
}

nav a:hover {
    background-color: rgb(92, 72, 72);
    color: white;
}

h2 {
    font-family: 'Great Vibes',monotype corsiva, cursive;
    display: flex;
    justify-content: center;
    font-size: 6rem;
    padding: 0.625em;
}

.image1 img {
    display: flex;
    max-height: 40vw;
    width: 100vw;
}

.info {
    text-align: justify;
    padding: 0 5em 2em 5em;
    line-height: 1.5em;
    font-size: 1.5em;
}

.projectInfo {
    display: flex;
    flex-direction: column;
}

.projectInfo p {
    text-align: center;
    padding-left: 65em;
    padding-right: 2em;
    line-height: 1.5em;
    font-size: 1.5em;
}

.project:hover .text {
    opacity: 1;  
  }

.text {
  font-family:cursive;
  font-size:1rem;
  opacity:0;
  transition:.5s;
}

.text a {
  text-decoration:none;
  color: palevioletred;;
  text-shadow: .05em .05em  rgb(92, 72, 72);
  font-size: 4em;
}


.project {
    display: flex;
    background: url(https://picsum.photos/640?random=1);
    box-sizing: border-box;
    border-radius: 2.5em;
    align-items: center;
    justify-content: center;
    height: 40em;
    width: 20em;
    margin: 2em;
}

.projectGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    /* align-content: space-evenly; */
}

footer {
    background-color:silver;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

button {
    padding: 0.625em 1.25em;
    border: 0.16em solid black;
}

button a {
    text-decoration: none;
    padding: 0.625em 1.25em;
    color: palevioletred;
    font-size: 1.5em;
    font-family: cursive;
    transition: .5s;
}